html {
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.main-page-container {
  @apply w-full h-full min-h-screen bg-opacity-30 p-5 bg-cover flex flex-col;
}

.capitalize-first::first-letter  {
  text-transform: uppercase;
}
